@{
    ViewData["Title"] = "Update Audit Entities";
    Layout = "_Layout";
}
<script type="text/javascript">
    var g_entities = [];

    function getVal(obj, prop) {
        return obj[prop] ?? obj[prop.toLowerCase()] ?? obj[prop.toUpperCase()] ?? obj[prop.replace(/_/g, '')];
    }
    function loadEntities() {
        $('#entitiesGrid tbody').empty();
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/GetAuditeeEntityById",
            type: "POST",
            data: {
                'ENTITY_TYPE_ID': $('#entTypeField').val()
            },
            cache: false,
            success: function (data) {
                g_entities = data;
                $.each(data, function (i, v) {
                    var id = getVal(v, 'entitY_ID');
                    $('#entitiesGrid tbody').append('<tr><td>' + id + '</td><td>' + getVal(v, 'code') + '</td><td>' + getVal(v, 'name') + '</td><td>' + getVal(v, 'active') + '</td><td>' + getVal(v, 'auditbY_ID') + '</td><td>' + getVal(v, 'auditable') + '</td><td>' + getVal(v, 'address') + '</td><td>' + getVal(v, 'telephone') + '</td><td>' + getVal(v, 'emaiL_ADDRESS') + '</td><td>' + getVal(v, 'erisk') + '</td><td>' + getVal(v, 'esize') + '</td><td><a href="#" onclick="event.preventDefault();editEntity(' + id + ');" class="text-danger">Update</a></td></tr>');
                });
            },
            dataType: "json",
        });
    }
    function editEntity(id) {
        var ent = g_entities.find(e => getVal(e, 'entitY_ID') == id);
        if (!ent) return;
        $('#modalEntityId').val(getVal(ent, 'entitY_ID'));
        $('#modalCode').val(getVal(ent, 'code'));
        $('#modalName').val(getVal(ent, 'name'));
        $('#modalActive').val(getVal(ent, 'active'));
        $('#modalAuditBy').val(getVal(ent, 'auditbY_ID'));
        $('#modalAuditable').val(getVal(ent, 'auditable'));
        $('#modalAddress').val(getVal(ent, 'address'));
        $('#modalTelephone').val(getVal(ent, 'telephone'));
        $('#modalEmail').val(getVal(ent, 'emaiL_ADDRESS'));
        $('#modalRisk').val(String(getVal(ent, 'risK_ID')));
        $('#modalSize').val(String(getVal(ent, 'sizE_ID')));
        $('#updateEntityModal').modal('show');
    }
    function saveEntity() {
        var model = {
            'ENTITY_ID': $('#modalEntityId').val(),
            'CODE': $('#modalCode').val(),
            'NAME': $('#modalName').val(),
            'ACTIVE': $('#modalActive').val(),
            'AUDITBY_ID': $('#modalAuditBy').val(),
            'AUDITABLE': $('#modalAuditable').val(),
            'ADDRESS': $('#modalAddress').val(),
            'TELEPHONE': $('#modalTelephone').val(),
            'EMAIL_ADDRESS': $('#modalEmail').val(),
            'RISK_ID': $('#modalRisk').val(),
            'SIZE_ID': $('#modalSize').val(),
            'UP_STATUS': 'U'
        };
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/UpdateAuditeeEntity",
            type: "POST",
            data: { ENTITY_MODEL: model, IND: 'U' },
            cache: false,
            success: function (resp) {
                alert(resp.Message);
                loadEntities();
            },
            dataType: "json",
        });
    }
</script>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <label>Entity Type</label>
            <select id="entTypeField" class="form-select" onchange="loadEntities()">
                <option value="0" selected>--Select Entity--</option>
                @{
                    if (ViewData["AuditEntitiesType"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["AuditEntitiesType"]))
                        {
                            <option value="@item.AUTID">@item.ENTITYTYPEDESC</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
    <div class="row col-md-12 mt-3">
        <table id="entitiesGrid" class="table table-bordered table-hover table-striped">
            <thead>
                <tr style="background-color:#19875478;">
                    <th>ENTITY ID</th>
                    <th>CODE</th>
                    <th>NAME</th>
                    <th>Active</th>
                    <th>AUDIT BY</th>
                    <th>AUDITABLE</th>
                    <th>ADDRESS</th>
                    <th>TELEPHONE</th>
                    <th>EMAIL ADDRESS</th>
                    <th>RISK</th>
                    <th>SIZE</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div id="updateEntityModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Update Entity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group"><label>ID</label><input id="modalEntityId" type="text" class="form-control" readonly /></div>
                <div class="form-group"><label>Code</label><input id="modalCode" type="text" class="form-control" /></div>
                <div class="form-group"><label>Name</label><input id="modalName" type="text" class="form-control" /></div>
                <div class="form-group"><label>Active</label><input id="modalActive" type="text" class="form-control" /></div>
                <div class="form-group"><label>Audit By</label><input id="modalAuditBy" type="text" class="form-control" /></div>
                <div class="form-group"><label>Auditable</label><input id="modalAuditable" type="text" class="form-control" /></div>
                <div class="form-group"><label>Address</label><input id="modalAddress" type="text" class="form-control" /></div>
                <div class="form-group"><label>Telephone</label><input id="modalTelephone" type="text" class="form-control" /></div>
                <div class="form-group"><label>Email</label><input id="modalEmail" type="text" class="form-control" /></div>
                <div class="form-group">
                    <label>Risk</label>
                    <select id="modalRisk" class="form-select">
                        <option value="0">--Select Risk--</option>
                        @{
                            if (ViewData["RiskList"] != null)
                            {
                                foreach (var r in (dynamic)ViewData["RiskList"])
                                {
                                    <option value="@r.R_ID">@r.DESCRIPTION</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Size</label>
                    <select id="modalSize" class="form-select">
                        <option value="0">--Select Size--</option>
                        @{
                            if (ViewData["BranchSizesList"] != null)
                            {
                                foreach (var s in (dynamic)ViewData["BranchSizesList"])
                                {
                                    <option value="@s.BR_SIZE_ID">@s.DESCRIPTION</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="saveEntity();" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>